:root {
  --primary-color: darkgreen;
  --secondary-color: ivory;
  --accent-color: yellow;
}

body {
  background-color: var(--secondary-color);
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

nav {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.nav-links li a {
  color: var(--secondary-color);
}

.burger .line {
  background-color: var(--secondary-color);
}

#hero {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.cta-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.cta-btn:hover {
  background-color: var(--accent-color);
}

#about,
#skills,
#projects,
#contact {
  background-color: var(--secondary-color);
}

.bar {
  background-color: var(--primary-color);
}

.project {
  border-color: var(--accent-color);
}

input,
textarea {
  border-color: var(--accent-color);
}

button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

button[type="submit"]:hover {
  background-color: var(--accent-color);
}

footer {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
